html, body {
  margin: 0px;
  padding: 0px;
  display: block;
  background-color: #080809;
  font-family: 'Barlow', sans-serif;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
  margin: 0px;
}

.embed-video {
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
}

.inputs {
  display: none;
  margin: 0px;
  padding: 16px;
}

button {
  background-color: tomato;
  width: 6%;
  cursor: pointer;
  border-radius: 0px 2px 2px 0px;
  border: none;
}

input {
  width: 94%;
  height: 64px;
  font-size: 20px;
  padding: 0 16px;
  background-color: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #1F1F1F;
  font-family: 'Barlow', sans-serif;
}

input:focus {
  /* border: 1px solid red; */
  border: none;
  background-color: #1F1F1F;
}

.tensorflow {
  position: fixed;
  top: 100px;
  right: 16px;
}

.loading {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 16px;
  text-align: center;
  font-size: 32px;
  padding-top: 80px;
}
