html, body {
  margin: 0px;
  padding: 0px;
  display: block;
  background-color: #080809;
  font-family: 'Roboto Mono', monospace;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
  margin: 0px;
}

.embed-video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

/* .inputs{
  display: inline-block;
  margin: 0px;
  padding: 0px;

}

#youtube-url{
  width: 90vw;
  background-color: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6)
}

#submit-button{
  width: 10vw;
} */

.inputs{
  display: flex;
  margin: 0px;
  padding: 16px;
}

button {
  background-color: tomato;
  /* width: 8vw; */
  width: 6%;
  cursor: pointer;
  border-radius: 0px 2px 2px 0px;
  border: none;
}

input {
  /* width: 92vw; */
  width: 94%;
  height: 64px;
  font-size: 20px;
  padding: 0 16px;
  background-color: inherit;
  color: inherit;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #1F1F1F;
}

input:focus{
  /* border: 1px solid red; */
  border: none;
  background-color: #1F1F1F;
}

.tensorflow{
  display: block;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
